<div class="select__container">
    <div *ngIf="showLabel">{{ label }}</div>
    <div *ngIf="emptySelect" class="option">{{ startData }}</div>
    <div *ngIf="!emptySelect" class="overflow-scroll"> 
      <div *ngIf="showSearch" (click)="selectToggle()" class="input__box">
        <input [placeholder]="startData" (input)="search($event.target.value)">
        <span class="dropdown__trigger">&#x25BC;</span>
      </div>
      <div *ngIf="showSelect">
        <div class="option" *ngFor="let item of tempData" (click)="selectValue(item)">{{ item[showPropertyName] }}</div>
      </div>
    </div>
</div>
