.select__container {
    width:20%;
    background-color: white;
}

.option {
    min-height: 20px;
    padding: 5px;
    border-top: solid 1px #333;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
}

.option:last-of-type {
    border-bottom: solid 1px #333;
}

.option:hover {
    background-color: lightblue;
    cursor: pointer;
    color: #333;
}

.input__box > input {
    width: auto;
    border: none;
    padding: 5px;
    box-sizing: border-box; 
    outline: none;
    width: 100%;
}

.input__box > input:focus {
    border-bottom: 2px solid cadetblue;
}

.dropdown__trigger {
    max-width: 30px;
    padding: 5px;
    cursor: pointer;
    color: #d3d3d3;
    display: inline-block;
}

.dropdown__trigger:hover {
    background-color: lightblue;
    color: #333;
}

.input__box {
    width: 100%;
    box-sizing: border-box;
    min-height: 20px;
    border: 1px solid #333;
    display: flex;
    justify-content: space-between;
}

.input__box:focus {
    border-bottom: 2px solid cadetblue;
    outline: none;
}

.overflow-scroll {
    width: 100%;
    max-height: 250px;
}